htmlStr = "";
var countries = [];
var codes = []
<% StripeManaged::COUNTRIES.each do |country| %>
  countries.push('<%= country[:name] %>');
  codes.push('<%= country[:code] %>')
<% end %>

optionStr = "";
for (var i = 0; i < countries.length; i += 1) {
  optionStr += ('<option value='+codes[i]+'>'+countries[i]+'</option>')
}

var cond = false;
<% if Stripe::Account.retrieve('self').country.in? StripeManaged::ALLOWED %>
  cond = true;
<% end %>
if (cond === true) {
    console.log(optionStr);
  htmlStr = '<div class="panel panel-primary">'+
'<div class="panel-body">' +
'<h3>Connect</h3>'+
'<p>You need a Stripe account to sell your food on Trophus.</p>'+
'<p>We have made it super easy to get started, and we will handle the account completely!</p>' +
'<ul class="list-group">'+
'<li class="list-group-item" id="stripe-managed">'+
'<small>Specify your country</small>'+
'<select class="country" name="country">'+
optionStr+
'</select>'+
'<br/>'+
'<label class="tos">'+
'<input name="tos" type="checkbox"> </input>'+
'I accept the '+
'<a href="https://stripe.com/us/terms" target="_blank">Stripe Terms of Service</a>'+
'</label>'+
'</li>'+
'</ul>'+
'</div>'+
'</div>';
}



bootbox.dialog({
    title: "Stripe authentication",
    message: htmlStr,
    buttons: {
        success: {
            label: "Authenticate",
            className: "btn-success",
            callback: function () {
                var country = $('.country').val();
                var tos = $("input[name='tos']:checked").val();
                $.ajax({url: "accepted_tos", type: "POST", data: {"country": country, "tos": tos}});
            }
        }
    }
});