<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover jumbotron" style="margin-top: 20px">

            <h1 class="cover-heading" style="width:90%;"> Careers at <img alt="Trophus dark teal" height="190px" src="/assets/trophus_dark_teal.png" />
            <p class="lead">trophus is trying to make the world a more social place.</p>
            <p class="lead">Reach out to <a href="mailto:arthur@trophus.com">me</a> if you are interested in building a new way to socialize and meet people around you. </a>
            </p>
                      <div class="mastfoot">
            <div class="inner">
              <!-- <i class="fa fa-heart"></i> -->
            </div>
          </div>

          </div>



        </div>

      </div>

    </div>