<style>
  .stupid p {
    font-size: 14px;
  }
</style>

<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover jumbotron" style="margin-top: 20px">

            <h1 class="cover-heading" style="text-align: center;"> Careers at </h1> <img style="display: block; margin-left: auto; margin-right: auto; position: relative; bottom: 40px;" alt="Trophus dark teal" height="100px" src="/assets/trophus_dark_teal.png" />

<div class="stupid">
            <p class="lead">Hi there, my name's Arthur and I am the founder of trophus. I believe that technology has the ability to facilitate new kinds of interactions, as observed through the development of everything from Chatroulette and Twitter to Airbnb and Uber.</p>

            <p>The increasing ubiquity of mobile computation devices empowers individuals to consume information, try new things, engage in activities they otherwise wouldn't think of.</p>

            <p>Here at trophus, we want to build a platform that lets anyone make delicious meals for others and get paid easily for their services. </p> <p> At the same time, we believe that it's important to build applications that foster the development of new sorts of social interactions. We love food just as much as we love meeting new people, and we wanted to build upon these ideas. While we may not make the world a better place, we're definitely going to try our best!</p>

            <p class="lead">Reach out to <a href="mailto:arthur@trophus.com">me</a> if you are interested in building a new way to socialize and meet people around you.</a></p>

</div>
                      <div class="mastfoot">
            <div class="inner">
              <!-- <i class="fa fa-heart"></i> -->
            </div>
          </div>

          </div>



        </div>

      </div>

    </div>