<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover jumbotron" style="margin-top: 20px">

            <h1 class="cover-heading" style="width:90%;"> Careers at <img alt="Trophus dark teal" height="190px" src="/assets/trophus_dark_teal.png" />
            <p class="lead">trophus is trying to make the world a better place.</p>
            <p class="lead">Contact our founder Arthur at hello@arthurcolle.com if you think you'll be a great fit for the company. </a>
            </p>
                      <div class="mastfoot">
            <div class="inner">
              <p>We love you!<span class="fa fa-heart"></span></p>
            </div>
          </div>

          </div>



        </div>

      </div>

    </div>