

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron" style="position: auto; top: 10%;">

      	<h1 style="width:90%;k"> Trophus
      		<span style="float: right;">

	          <a class="btn btn-lg btn-success" role="button" href="users/sign_up"> <span style="position: relative; bottom: 1px; left: -2px;" class="fa fa-child"></span> <span style="position:relative; right: -2px;"> Join Trophus </span> </a>
	        </span>
	    </h1>

        <p>Connecting food lovers with local people that love cooking. </p> 

        <p> The way it works is instead of asking GrubHub to quickly deliver some MSG-filled chinese food by City Food, have it made with love and care by Xuexie, a graduate linguistics student who grew up in China and has interesting thoughts on contemporary Chinese state capitalism. Oh, you work at a bank and are interested in economics? Great! </p>

        <p> Our technology prioritizes similarity of interests and compatibility using deep-learning algorithms which allows cooks and eaters to hit it off, and become friends! </p>

      </div>