<!-- Main component for a primary marketing message or call to action -->

<% if current_user %>
  <script>
    initialize(<%= current_user.id %>);
  </script>
<% else %>

	<div class="jumbotron" style="position: auto; top: 10%;">
	 		<h1 style="width:90%;"> <%= image_tag "trophus_dark_teal.png", height: "190px" %>
		  	<span style="float: right;">

			</span>
		</h1>

		<h2>New experiences with food and people around you</h2> 

<!-- 		<div style="width: 500px; text-align: center">		<p> "Make or buy food, either way you'll meet interesting people around you and get paid to cook amazing dishes." -<small>Tiffany Anderson, Trophus user</small></p></div>
 -->
	</div>


<% end %>