<!-- Main component for a primary marketing message or call to action -->

<% if current_user %>
  <script>
    initialize(<%= current_user.id %>);
  </script>
<% else %>

	<div class="jumbotron" style="position: auto; margin-top: 50px;">
	 		<h1 style="width:90%;"> <%= image_tag "trophus_dark_teal.png", height: "190px" %>
		  	<span style="float: right;">
			  <a class="btn btn-lg btn-success" role="button" href="users/sign_up"> 
			  	<span style="position: relative; bottom: 1px; left: -2px;" class="fa fa-child"></span> 
			  	<span style="position:relative; right: -2px;"> Join Trophus </span> 
			  </a>
			</span>
		</h1>

		<h2>New experiences with food and people around you</h2> 

<!-- 		<div style="width: 500px; text-align: center">		<p> "Make or buy food, either way you'll meet interesting people around you and get paid to cook amazing dishes." -<small>Tiffany Anderson, Trophus user</small></p></div>
 -->
	</div>


<% end %>