<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container"  style="text-align: center">
      <div class="inner cover jumbotron" style="margin-top: 20px">
        <h1 class="cover-heading" > <img alt="Trophus dark teal" height="120px" src="/assets/trophus_dark_teal.png" />
          <div style="height: 40px"></div>
        <p class="lead" style="font-size: x-large">New experiences with food and people around you.</p>

        <p class="lead">
        <div id="elements" style="margin-right: 10px; margin-top: 0px">
          <a href="/how-it-works" class="btn btn-lg btn-default">How It Works</a>
                  <a href="<%= new_user_registration_path %>" style="background-color: #1abc9c; color: #ecf0f1; font-size: xx-large" class="btn btn-lg btn-default">Join Now</a>
          <a href="http://imgur.com/a/KDiMG" class="btn btn-lg btn-default">Screenshots</a>
        </div>

        </p>

        
<!--         <div class="mastfoot" >
          <div class="inner">
            <p style="font-size: small">built by <a href="http://colle.space">Arthur Coll&eacute;</a></p>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>