<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover jumbotron" style="margin-top: 20px">
        <h1 class="cover-heading" style="width:90%;"> <img alt="Trophus dark teal" height="190px" src="/assets/trophus_dark_teal.png" />
        <p class="lead">New experiences with food and people around you.</p>
        <p class="lead">
          <a href="/how-it-works" class="btn btn-lg btn-default">How It Works</a>
        </p>
        
        <div class="mastfoot">
          <div class="inner">
            <p>Built by <a href="mailto:arthur@trophus.com">Arthur Coll&eacute;</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>