<input type="submit" id="butt" class="styled-button-1" value="Order All Items" />

<style type="text/css">
    .styled-button-1 {
        position: fixed;
        right: 25px;
        top: 75px;
        -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
        -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
        box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
        color:#333;
        background-color:#FA2;
        border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border:none;
        font-family:'Helvetica Neue',Arial,sans-serif;
        font-size:16px;
        font-weight:700;
        height:64px;
        padding:4px 16px;
        text-shadow:#FE6 0 1px 0
    }
</style>



<script>
  $("#butt").on('click', function(){
      $.ajax({
          type: "POST",
          url: "/order_from_cart"
      }).done(function( html ) {
          document.write(html);
      });
  });
</script>


<% if !@order_item.nil? && @order_item.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @order_item.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<% if @order_items.size == 0 %>
    <p class="text-center">
      There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
    </p>
<% else %>
    <% @order_items.each do |order_item| %>
        <%= puts current_order.components.inspect %>
        <%= render 'carts/cart_row', dish: order_item.dish, order_item: order_item, show_total: true %>
    <% end %>
<% end %>