
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-header container">
      <h4>Create multiple dishes at once</h4>
    </div>

    <div class="panel-body">
      <%= render 'multicreate_form' %>
    </div>
    
    <div class="panel-footer">
      <%= link_to 'Back', dishes_path %>
    </div>
  </div>
