
  <div class="panel panel-default" id="new_dish" style="margin-top: 10px">
    <div class="panel-header container">
      <h4>New dish</h4>
    </div>

    <div class="panel-body">
      <%= render 'form' %>
    </div>
  </div>