/*
 * This is a manifest file that'll be compiled into application.css, which
 * will include all the files listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear
 * at the bottom of the compiled file so the styles you add here take
 * precedence over styles defined in any styles defined in the other CSS/SCSS
 * files in this directory. It is generally better to create a new file per
 * style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require image-picker
 *= require materialize
 */

$navbar-default-bg: #2ecc71;
$jumbotron-padding: 15px;

@import 'bootstrap';
@import 'bootstrap-sprockets';

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {

	color: #9AF5B2; 		//yellow
}


.navbar-right > .active {
	color: #FFF;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #FFF; //8E7
	background: #27ae60; //nephritis
}

@font-face {
    font-family:'Lato-Medium';
    src:font-url('Lato-Medium.ttf')  format('truetype');
}

p {
	padding: 10px;
}

.btn-large {
	margin-right: 10px;
}

.modal-body {
	max-height: 600px;
	overflow-y: auto;
}

.container {
	position: relative;
	border-radius: 10px;
	z-index: 1;
}

.panel-footer {
	position: relative;
	border-radius: 0 0 10px 10px;
}


.panel-heading {
	position: relative;
	border-radius: 10px 10px 0 0;
}

.special_a { color: white; } 
.special_a:hover { color: teal; }


#results {	
	display: none;
	position: absolute;
/*	max-height: 220px;
	overflow-y: scroll; */
	width: 400px;
	background-color: rgba(37,164,152, 0.75);
	z-index: 10000;
}


.thumbnails li img {
	width: 175px;
}

      html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: #26a69a;
      }

      #map-canvas {
      width: 85%;
        z-index: 1;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px 10px 10px 10px;

      }

@font-face {
  font-family: "Specialist";
  src: url(/assets/specialist.ttf) format("truetype");
}


* {
  font-family: "Specialist";  
}

.modal { overflow: visible; }
.modal-body { overflow-y: visible !important; }

.alert {
	position: relative; 
	width: 90%;
	margin-top: 20px;
}

.panel {
	width: 90%;
	position: relative;
	margin-top: 20px;
}

#sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 997;
  will-change: opacity; 
}

    a:link {
      text-decoration: none;
    }