<form style="positive: relative; width: 400px" class="search" id = "autocomplete">
    <div class="input-field">
      <input autocomplete="off" name="q" id="q" type="search"  onKeyUp="myHandler();" placeholder="Search..." required>
      <label for="search"><i class="mdi-action-search"></i></label>
        <i class="mdi-navigation-close" onclick="destroy()"></i>
    </div>
    
    <div id="results"></div>
</form>