      <ul class="left hide-on-med-and-down">
        <li><a href="/"><%= image_tag "trophus_dark_teal.png", height: "70px" %></a></li>
        <li>
          <div class="btn-floating btn-large waves-effect waves-light teal">
            <a id="mapButton" title="Around You" href="/map" style="text-decoration: none;"><i class="mdi-maps-layers"></i></a>
          </div>
        </li>
        <li>
          <div class="btn-floating btn-large waves-effect waves-light teal">
            <a title="Your Profile" style="text-decoration: none" href="/users/<%= current_user.id %>/show"> <i class="mdi-action-account-circle"></i></a>
          </div>
        </li>
      </ul>