      <ul class="left hide-on-med-and-down">
        <li><a href="/"><%= image_tag "trophus_dark_teal.png", height: "70px" %></a></li>
        <li>
          <div class="btn-floating btn-large waves-effect waves-light teal">
            <a href="/map" style="text-decoration: none;"><i class="mdi-maps-layers"></i></a>
          </div>
        </li>
        <li>
          <div class="btn-floating btn-large waves-effect waves-light teal">
            <a style="text-decoration: none" href="/users/<%= current_user.id %>/show"> <i class="mdi-action-account-circle"></i></a>
          </div>
        </li>

    <% if current_user.prof_pic.nil? %>
<!--         <li style="width:150px">
          <a href="/auth/facebook" class="btn-large blue" style="width: 150px; margin: 0px 0px 0px 0px; border: 0px 0px 0px 0px"><img height="80%;" style="float: left; position: relative; top: 5px; right: 25px;" src="https://trophus.herokuapp.com/facebook.png"> <span style="height: 100%; width: 50%; position: relative; float: left; margin-left: 10px; bottom: 5px; right: 20px; font-size: 12px; padding-right: 0px">Connect</span></a>
        </li>  -->




    <% end %>
      </ul>