
        <div id="modal4" class="modal" aria-hidden="true">
          <div class="modal-content"  style="overflow-y: auto; height: 400px">
<div class="picker"> <select multiple="multiple" class="image-picker show-html"></select> </div>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
          </div>
        </div>

        <div id="modal5" class="modal" aria-hidden="true" style="position: fixed;">
          <div class="modal-content"  style="overflow-y: auto; height: 400px;">
<div class="picker"> <select class="image-picker show-html" id="insta_single"></select> </div>
          </div>
          <div class="modal-footer">

            <button class="modal-action modal-close waves-effect waves-green btn-flat " onclick='randomFunction()'>SELECT</button>
            <button class="modal-action modal-close waves-effect waves-red btn-flat" >CANCEL</button>
          </div>
        </div>