        <div id="modal-multicreate" class="modal" aria-hidden="true" style="position: fixed;">
          <div class="modal-content"  id="mycontent" style="overflow-y: auto; height: 400px;">
          </div>
          <div class="modal-footer">
            <button class="modal-action modal-close waves-effect waves-green btn-flat" class="multicreate-submission" onclick="buildMultiple()">SELECT</button>
            <button class="modal-action modal-close waves-effect waves-red btn-flat" onclick="destroyUnfinished()">CANCEL</button>
          </div>
        </div>