        <div id="alertModal" class="modal" aria-hidden="true" style="position: fixed;">
          <div class="modal-content"  id="mycontent" style="overflow-y: auto; height: 400px;">
            Dishes were created!
          </div>
          <div class="modal-footer">
            <button class="modal-action modal-close waves-effect waves-red btn-flat" >Awesome</button>
          </div>
        </div>