

	<form class="navbar-form navbar-left" role="search" style="position: relative; bottom: 50%">
	  <div class="form-group">
	    <input type="text" class="form-control" placeholder="Hungry?">
	      <i style="position:relative; right:15%"class="fa fa-search"></i>
	  </div>
	</form>
